<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="Listener.SprintListener"/>
</listeners>
  <test thread-count="2" name="Test">
    <classes>
      <class name="TestCases.DropDownOption"/>
      <class name="TestCases.QuickCalculator"/>
      <class name="TestCases.ExteriorOfAdvancedCalculator"/>
      <class name="TestCases.InteriorOfAdvancedCalculator"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
